// demo only
body {
  font-family: system-ui;
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.orbit {
  .center-image {
    width: 12rem;
    position: relative;
    // keep the center of the .center-image the same, move the image so you don't need to move every small circle
    // the 2rem = (12rem - 8rem) / 2
    transform: translate(-2rem, -2rem);

    img {
      position: absolute;
      transition: opacity 500ms;

      &:not(:first-child):hover {
        opacity: 0;
      }
    }
  }

  ul {
    position: relative;
    list-style: none;
  }

  li {
    position: absolute;
    background: var(--orange-light);
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    font-weight: 500;
    color: var(--white-light);
    text-align: center;
    line-height: 1;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > p {
      background: var(--orange-dark);
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      transition: opacity 500ms;
      opacity: 0;
    }

    &:hover > p {
      opacity: 1;
      cursor: pointer;
    }
  }

  // The calculation is a^2 + a^2 = 15^2 => a = 10.61
  li:nth-child(1) {
    transform: translate(15rem, 0rem);
  }

  li:nth-child(2) {
    transform: translate(10.61rem, 10.61rem);
  }

  li:nth-child(3) {
    transform: translate(0, 15rem);
  }
  li:nth-child(4) {
    transform: translate(-10.61rem, 10.61rem);
  }

  li:nth-child(5) {
    transform: translate(-15rem, 0rem);
  }

  li:nth-child(6) {
    transform: translate(-10.61rem, -10.61rem);
  }

  li:nth-child(7) {
    transform: translate(0, -15rem);
  }
  li:nth-child(8) {
    transform: translate(10.61rem, -10.61rem);
  }
}
